body{
    margin: 0;
    font-family: sans-serif;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.table_wrap, .item{
    width: 500px;
    border: 1px solid #333;
}

.item{
    text-align: center;
}

.form{
    margin-top: 20px;
    width: 500px;
    display: flex;
    justify-content: center;
}

.form_item{
    margin: 4px;
}

.form_text{
    width: 300px;
}